# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Create release and publish npm package

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup environment
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
          scope: '@quatico'

      - name: install
        run: yarn install --frozen-lockfile

      - name: lint
        run: yarn lint

      - name: test
        run: yarn test

      - name: build
        run: yarn build

      - name: E2E tests
        run: yarn test:e2e

      - name: create release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          # The workflow permissions of the project must be updated to 'Workflows have read and write permissions in the repository for all scopes'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: publish
        run: yarn publish-npm
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
